<!DOCTYPE html>
<html lang="en">
<head>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Happy Link</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- ================= Favicon ================== -->
    @*<link rel="icon" sizes="72x72" href="~/images/favicon-96x96.png">*@
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900%7COpen+Sans:300,400,600,700,800" rel="stylesheet">
    <!-- Font Awesome css-->
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <!-- Bootsrap css-->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- Magnific Popup-->
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/css/select2.min.css">
    <!-- REVOLUTION SLIDER STYLES -->
    <link rel="stylesheet" type="text/css" href="~/css/settings.css">
    <link rel="stylesheet" type="text/css" href="~/css/layers.css">
    <link rel="stylesheet" type="text/css" href="~/css/navigation.css">
    <!-- Animate css-->
    <link rel="stylesheet" href="~/css/animate.css">
    <!-- Style-->
    <link rel="stylesheet" href="~/css/style.css">
    <!-- Color Swhicher css-->
    <link data-style="color-style" rel="stylesheet" href="~/css/color-blue.css">
    <!-- Modernizr-->
    <script src="~/js/modernizr-2.8.3.min.js"></script>
    <!-- == jQuery Librery == -->
    
    <script type="text/javascript" async>
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'vi', includedLanguages: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
}
    </script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

    @*<script src="~/js/jquery-2.2.4.min.js"></script>*@
</head>
<body>
    @*@Html.Partial("_Header")*@
    @{Html.RenderAction("_Header", "Shared");}
    @RenderBody()
    @*@Html.Partial("_Footer")*@
    @{Html.RenderAction("Footer_", "Shared");} 
    @*@{ Html.Partial("Footer_", "Shared");}*@
    <!-- // End Footer  -->
    <script>
    function _RedirectUrl(url) {
            window.location.href = url;
        }
    </script>
</body>
</html>
