
@{
    ViewBag.Title = "PageNotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="preloader">
    <div class="loader-inner ball-scale-multiple">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<!--/.preloader-->
<div class="color-shicher-wraper">
    <div class="swhicher-button">
        <button data-att="color-yellow" type="button" class="yellow-bg"></button>
        <button data-att="color-green" type="button" class="green-bg"></button>
        <button data-att="color-cyan" type="button" class="cyan-bg"></button>
        <button data-att="color-red" type="button" class="red-bg"></button><br />
        <button data-att="color-purple" type="button" class="purple-bg"></button>
        <button data-att="color-pink" type="button" class="pink-bg"></button>
        <button data-att="color-gradient" type="button" class="gradient-bg"></button><br /><br />
        <div class="tobar-fixed-check">
            <input type="checkbox" id="topbar-fixed" /><label for="topbar-fixed"> Menu fixed when scroll </label>
        </div>
        <div class="backtop-top-check">
            <input type="checkbox" id="backtotop-fixed" /><label for="backtotop-fixed"> Back to top hide/show</label>
        </div>
        <div class="removetopbar">
            <input type="checkbox" id="topbar-checked" /><label for="topbar-checked"> Topbar show/hide </label>
        </div><br />
        <a href="#" class="btn">Purchase</a>
    </div>
    <div class="setting-button-wrapper">
        <button type="button" class="setting-button"></button>
    </div>
</div><!--/.color-shicher-wraper-->
<header class="fund-header">
    <div class="top-bar base-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 text-xs-center">
                    <div class="top-bar__contact">
                        <i class="fa fa-envelope"></i> <span class="pdl5">info@thefund.com</span>
                        <span class="pdl15 pdr15">|</span>
                        <i class="fa fa-phone-square"></i> <span class="pdl5">+880 1234 2547 89</span>
                    </div>
                </div>
                <div class="col-sm-6 text-right text-xs-center">
                    <div class="social-icons ">
                        <span>Follow Us On : </span>
                        <ul class="list-inline pdl20">
                            <li><a href="#"><i class="fa fa-facebook"></i> </a> </li>
                            <li><a href="#"><i class="fa fa-twitter"></i> </a> </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i> </a> </li>
                            <li><a href="#"><i class="fa fa-instagram"></i> </a> </li>
                            <li><a href="#"><i class="fa fa-vk"></i> </a> </li>
                            <li><a href="#"><i class="fa fa-pinterest"></i> </a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<nav class="mobile-background-nav">
    <div class="mobile-inner">
        <span class="mobile-menu-close"><i class="icon-icomooon-close"></i></span>
        <ul class="menu-accordion">
            <li>
                <a href="index.html" class="has-submenu">Home <i class="fa fa-angle-down"></i></a>
                <ul class="dropdown">
                    <li><a href="index.html">Home One</a></li>
                    <li><a href="index-two.html">Home Two</a></li>
                </ul>
            </li>
            <li>
                <a href="events.html" class="has-submenu">Events<i class="fa fa-angle-down"></i></a>
                <ul class="dropdown">
                    <li><a href="events.html">Events</a></li>
                    <li><a href="event-details.html">Event Details</a></li>
                </ul>
            </li>
            <li>
                <a href="blog.html" class="has-submenu">Blog<i class="fa fa-angle-down"></i></a>
                <ul class="dropdown">
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="blog-details.html">Blog Details</a></li>
                </ul>
            </li>
            <li>
                <a href="causes.html" class="has-submenu">Causes<i class="fa fa-angle-down"></i></a>
                <ul class="dropdown">
                    <li><a href="causes.html">Causes</a></li>
                    <li><a href="causes-details.html">Causes Details</a></li>
                </ul>
            </li>
            <li><a href="about-us.html">About Us</a></li>
            <li><a href="contact-us.html">Contact</a></li>
        </ul>
    </div>
</nav>
<div class="main-menu-area">
    <div class="container">
        <div class="menu-logo">
            <div class="logo">
                <a href="index.html" class="logo-index"><img src="~/images/logo.png" alt="" /></a>
            </div>
            <nav id="easy-menu">
                <ul class="menu-list">
                    <li>
                        <a href="index.html">Home <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown">
                            <li><a href="index.html">Home One</a></li>
                            <li><a href="index-two.html">Home Two</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="events.html">Events <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown">
                            <li><a href="events.html">Events</a></li>
                            <li><a href="event-details.html">Event Details</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="blog.html">Blog <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown">
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="blog-details.html">Blog Details</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="causes.html">Causes <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown">
                            <li><a href="causes.html">Causes</a></li>
                            <li><a href="causes-details.html">Causes Details</a></li>
                        </ul>
                    </li>
                    <li><a href="about-us.html">About Us</a></li>
                    <li><a href="contact-us.html">Contact</a></li>
                </ul>
            </nav><!--#easy-menu-->
            <div class="donate-button-wrap">
                <a href="donate.html" class="btn base-bg hidden-xs hidden-sm">Donet Now</a>
                <a href="#" class="hidden-lg hidden-md" id="humbarger-icon"><i class="fa fa-bars"></i> </a>
            </div>
        </div>
    </div>
</div>
<div class="banner-area banner-area--404 all-text-white text-center lazy" data-src="images/404/banner.jpg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-title">ERROR PAGE</h1>
                <ul class="fund-breadcumb">
                    <li><a href="index.html">Home</a> </li>
                    <li><a href="404.html">Error Page</a> </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="main-content section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="error-page text-center">
                    <h1 class="error-text base-color">404</h1>
                    <h2 class="not-found">Page not found, try to:</h2>
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years</p>
                    <div class="buttons">
                        <a href="index.html" class="btn base-bg mr10">Back to Home</a>
                        <a href="contact-us.html" class="btn ml10">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="join-us-section all-text-white lazy" data-src="~/images/join-us-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="join-us">
                    <div class="join-us__text-content">
                        <h4 class="join-us__title">DO YOU WANT TO BUILD A BETTER WORLD?</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
                    </div>
                    <div class="pdb30 pdt10">
                        <a href="#" class="btn">JOIN US</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="fund-footer lazy" data-src="~/images/footer/footer-bg.jpg">
    <div class="main-footer all-text-white section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-footer__top text-center pdb10">
                        <a href="#" class="footer-logo"><img src="images/white-logo.png" alt="logo"></a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in  velit esse cillum dolore eu fugiat nulla pariatur. </p>
                    </div>
                </div>
            </div>
            <div class="row row-eq-rs-height">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="widget widget--footer widget--userfull-link">
                        <div class="widget__heading">
                            <h4 class="widget__title">USEFULL LINKS</h4>
                        </div>
                        <div class="widget__text-content">
                            <ul>
                                <li>Join our volunteer team.</li>
                                <li>Read our Letest News.</li>
                                <li>Check the upcoming Events.</li>
                                <li>Watch Our Mission.</li>
                                <li>Privacy & cookies policy.</li>
                            </ul>
                        </div>
                    </div><!--/.widget-->
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="widget widget--footer widget--contact">
                        <div class="widget__heading">
                            <h4 class="widget__title">QUICK CONTACT</h4>
                        </div>
                        <div class="widget__text-content">
                            <div class="contact-way">
                                <span class="base-bg contact-icon"><i class="fa fa-location-arrow"></i></span>
                                <span class="contact-text">310, Fleischmanns, NY, 12430</span>
                            </div>
                            <div class="contact-way">
                                <span class="base-bg contact-icon"><i class="fa fa-phone"></i></span>
                                <span class="contact-text">+8801 2345 12456</span>
                            </div>
                            <div class="contact-way">
                                <span class="base-bg contact-icon"><i class="fa fa-envelope-o"></i></span>
                                <span class="contact-text">support@thedund.com</span>
                            </div>
                            <div class="social-icons pdt5">
                                <span>Follow Us On : </span>
                                <ul class="list-inline pdl20">
                                    <li><a href="#"><i class="fa fa-facebook"></i> </a> </li>
                                    <li><a href="#"><i class="fa fa-twitter"></i> </a> </li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i> </a> </li>
                                    <li><a href="#"><i class="fa fa-instagram"></i> </a> </li>
                                    <li><a href="#"><i class="fa fa-vk"></i> </a> </li>
                                    <li><a href="#"><i class="fa fa-pinterest"></i> </a> </li>
                                </ul>
                            </div>
                        </div>
                    </div><!--/.widget-->
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="widget widget--footer widget--userfull-link">
                        <div class="widget__heading">
                            <h4 class="widget__title">NEWSLETTERS</h4>
                        </div>
                        <div class="widget__text-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicingse elit do eiusmod.</p>
                            <form class="newsletter-form">
                                <input type="email" placeholder="Your email address" class="form-control newsletter-form__input" />
                                <input type="submit" value="JOIN US" class="btn base-bg newsletter-form__submit">
                            </form>
                        </div>
                    </div><!--/.widget-->
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area all-text-white pdt25 pdb25">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="copyright-text text-xs-center">
                        &copy; 2017. All Rights Reserved. Developed by <span class="base-color">iGlyphic</span>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <ul class="footer-menu text-xs-center">
                        <li><a href="#">About</a></li>
                        <li><a href="#">Terms & Conditions</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <a href="#" id="toTop" class="cd-top"><i class="fa fa-angle-up"></i></a>
</footer>
