
$white:#fff;
$full-black:#000000;
$black: #1e1e27;

$base:#0aaaa0;
$border:#cccccc;
$ash:#ebebeb;
$ash-white:#f7f8fa;
$bcolor:#606060;
$nv:#1e3042;
$yellow:#f57c00;
$green:#43a047;


$red:#D50000;
$purple:#AA00FF;
$pink:#C51162;


$cyan:#0aaac0;










$beg:#a662ae;






$gray:#c3c3c3;




//$red:#ff6d6d;


$orange:#f39a24;
$lime-green:#82c484;


$open:'Open Sans', sans-serif;
$rb:'Montserrat', sans-serif;
