/* -----------------------------------
** Gallery
-------------------------------------*/
.gallery-section{
    // background: url('../images/home/gallery-bg.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    &:before{
        position: absolute;
        width:100%;
        height: 100%;
        left:0;
        top:0;
        content: '';
        background: rgba(0,0,0,0.9);
    }
    .section-heading-separator:before{
        background: rgba(0,0,0,0.9);
    }
    .container-fluid{
        max-width: 1690px;
        margin-left: auto;
        margin-right: auto;
    }
}
.help-us{
    position: relative;
    margin-bottom: 30px;
    &__icon-wrap{
        position: absolute;
        left:0;
        top:0;
        width:48px;
        height: 48px;
        border:1px solid $base;
        text-align: center;
    }
    &__icon{
        line-height: 46px;
        font-size: 24px;
    }
    &__text-content{
        margin-left: 75px;
    }
    &__title{
        margin-bottom: 10px;
    }
    p{
        margin-bottom: 20px;
    }
}
.filter-options{
    &>li{
        margin-bottom: 10px;
        &>a{
            position: relative;
            &:before{
                transition: .3s;
                position: absolute;
                left:50%;
                left:calc(50% - 7px);
                height: 14px;
                width:14px;
                bottom:0px;
                background: $base;
                content: '';
                transform: rotate(-45deg);
                opacity: 0;
            }
            &.btn{
                border-color: $base;
            }
            &.active{
                &:before{
                    bottom:-7px;
                    opacity: 1;
                }

            }
        }
    }
}
.mix{
    display: none;
}
.gallery-item{
    border:5px solid $white;
    margin-bottom: 30px;
    display: block;
    &__photo{
        width: 100%;
        object-fit: cover;
    }
}
/* -----------------------------------
** End Gallery
-------------------------------------*/
